# Check the valid Identifiers and invalid identifers using Python

1. **Run all the identifiers and seprate valid and Invalid Identifiers?**

2. **Why Python treating them as invalid Identifers.Explain?**

* my_variable = 25
**Valied**

* counter = 40.7
**Valied**

* _total = "Hello"
**Valied**

 - 123abc   = 34      
 **invalied**
 - my variable   =6.7
  **invalied**
 - @count  = "hi"      
  **invalied**
 - for   = "True"
  **invalied**

* Name123 = 136
 **valied**
* myFunction = True
 **valied**
* _data = False
 **valied**
- if_condition? = "Innomatics"
 **invalied**
- class = "Hyderabad" 
**invalied**

### Use different identifiers and assign the below values

10
**Valied because it is an integer**

-5
**Valied because it is an
3.14159

-0.12345

1000

"Hello, World!"

"Python"

"I am learning"

"Text type"

"String"

True

False

True

False

True

In [1]:
my_variable = 25

In [4]:
print (my_variable)

25

In [5]:
counter = 40.7

In [6]:
print(counter )

40.7

In [7]:
_total = "Hello"

In [8]:
print(_total)

Hello

In [9]:
123abc = 34

SyntaxError: invalid decimal literal (2594609077.py, line 1)

In [10]:
my variable =6.7

SyntaxError: invalid syntax (4132032776.py, line 1)

In [11]:
@count = "hi"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (388528748.py, line 1)

In [12]:
for = "True"

SyntaxError: invalid syntax (3895380788.py, line 1)

In [14]:
Name123 = 136

In [15]:
print(Name123)

136

In [16]:
myFunction = True

In [17]:
print(myFunction)

True

In [18]:
_data = False

In [19]:
print(_data)

False

In [20]:
if_condition? = "Innomatics"

SyntaxError: invalid syntax (51595175.py, line 1)

In [21]:
class = "Hyderabad"

SyntaxError: invalid syntax (423682886.py, line 1)

**Use different identifiers and assign the below values**

In [27]:
age=10
print(age)

10

In [31]:
my_variable=10

In [32]:
print(my_variable)

10

In [33]:
num=-5
print(num)

-5

In [35]:
float=3.14159
print(float)

3.14159

In [36]:
my_variable=-0.12345
print(my_variable)

-0.12345

In [37]:
a=1000
print(a)

1000

In [40]:
a="Hello,"
b="world!"
print(a+b)

Hello,world!

In [41]:
a="python"
print(a)

python

In [48]:
a="I am learning"
b=" python"
print(a)

I am learning

In [46]:
y="Text type"
print(y)

Text type

In [47]:
x="string"
print(x)

string

In [49]:
a=True
print(a)

True

In [50]:
bool_1=False
print(bool_1)

False

In [51]:
abcd=True
print(abcd)

True

In [52]:
Data=False
print(Data)

False

In [53]:
bool_2=True
print(bool_2)

True