Assignment Tasks on String Escape Characters, Indexing, and Slicing:

**String Escape Characters:**

Task 1:
1. Create a string containing a sentence that includes both single and double quotes.
2. Use escape characters to include quotes within the string.
3. Print the modified string.

Task 2:
1. Declare a string with a backslash \ character in it.
2. Demonstrate the use of the escape character to print the backslash itself.
3. Print the resulting string.

Task 3:
1. Construct a string containing newline and tab escape sequences.
2. Print the string to display the formatted output.

**Indexing and Slicing:**

Task 4:
1.  sentence = "I want to become Data Scientist".
2. Access and print the `first character` of the string using indexing.
3. Access and print the `last character` of the string using negative indexing.

Task 5:
1. What are `possible ways` yo extract `Scientist`(use forward and reverse)
2. Use slicing to extract and print the `first word` from the string.
3. Use slicing to extract and print the `last three` characters of the string.

Task 6:
1. name = "Innomatics Reserach Labs"
2. Apply slicing to extract a substring that includes the `second to fifth` characters.
3. `Print` the extracted substring.

Task 7:
1. string = "Python@1234"
2. Use slicing to extract every second character from the string.
3. Print the resulting sliced string.

Task 8:
1.  print last five letters.
2. Utilize slicing to reverse the word order in the string.
3. Print the string with the words in the reversed order.

Task 9:
1. a = "123123123"
2. Apply slicing to extract only the numeric characters at odd positions.
3. Print the sliced result.

Remember to include explanations or comments for each task's code to ensure clarity. Additionally, encourage students to experiment further with different escape characters and slicing techniques beyond the provided tasks to deepen their understanding.

In [ ]:
Task 1:

Create a string containing a sentence that includes both single and double quotes.
Use escape characters to include quotes within the string.
Print the modified string.

In [3]:
string='I am "Data Analyst" and Data data science'

In [4]:
string

'I am "Data Analyst" and Data data science'

Use escape characters to include quotes within the string.

In [28]:
string='I am \"Data Analyst\" and Data science'

In [29]:
string

'I am "Data Analyst" and Data science'

In [32]:
string='I am "Data Analyst\" and Data science'

In [33]:
string

'I am "Data Analyst" and Data science'

In [34]:
print("I am Data Analyst\n and Data data science")

I am Data Analyst
 and Data data science

In [22]:
print("i am vasavi \n i am Data Analyst ")

i am vasavi
 i am Data Analyst

Print the modified string.

In [43]:
string= 'innomatics Research Labs'

In [44]:
string.capitalize()

'Innomatics research labs'

In [45]:
string.upper()

'INNOMATICS RESEARCH LABS'

In [48]:
string.lower()

'innomatics research labs'

In [51]:
string.count('i')

2

In [52]:
string.find('a',2,8)

5

In [55]:
string.find('i',0,3)

0

In [56]:
string

'innomatics Research Labs'

In [59]:
string.replace('Labs','abs',1)

'innomatics Research abs'

In [ ]:
Task 2:

Declare a string with a backslash \ character in it.
Demonstrate the use of the escape character to print the backslash itself.
Print the resulting string.

Declare a string with a backslash \ character in it.

In [60]:
print("I am @learning pyth\bon")

I am @learning python

In [25]:
print(r"I am learning python")

I am learning python

In [26]:
print("I am learning pyth\ton")

I am learning pyth	on

Demonstrate the use of the escape character to print the backslash itself.

In [40]:
print('I am "Data Analyst\" and Data data\b science')

I am "Data Analyst" and Data data science

Print the resulting string.

Task 3:

Construct a string containing newline and tab escape sequences.
Print the string to display the formatted output.

In [67]:
print("sample \"sentece\" with various\n words")

sample "sentece" with various
 words

Print the string to display the formatted output.